      body {
              background-color: #d2b48c;
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
              color: #d2b48c;
          }


      .container {
        width: 80%;
        max-width: 400px;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        margin: 0 auto;
        margin-top: 150px;
      }

      h2 {
        margin-bottom: 20px;
        color: black;
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      label {
        margin-bottom: 10px;
        color:black;
      }

      .input-group {
        display: flex;
        align-items: center;
      }

      .input-group label {
        margin-right: 10px;
      }

      input {
        margin-bottom: 20px;
        flex: 1;
      }

      button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        width: 100%;
      }

      button:hover {
        background-color: #45a049;
      }

      .error {
        color: red;
        margin-top: 10px;
      }

      .table {
          margin-top: 30px;
      }

      .c-img{
          width: 100px;
          height:100px;
       }

       #items {
          font-family: Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
          margin:auto;
        }

        #items td, #items th {
          border: 1px solid #ddd;
          padding: 8px;
        }

        #items tr:nth-child(even){background-color: #f2f2f2;}

        #items tr:hover {background-color: #ddd;}

        #items th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #c0a9bd;
          color: #ffffffbc;
        }

        .hero-area {
            background-color: #ffffff9c;
            padding: 50px 0;
        }

        .hero-txt {
            color: #333333;
            padding: 100px;
        }

        .product-area {
            padding: 50px 0;
        }

        .item {
            margin-top: 20px;
            margin-bottom: 30px;
        }

        .item-img {
            border-radius: 50 px;
            height:300px;
            width:320px;
            border:2px solid #333333
        }