<!-- dashboard.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet"  th:href="@{/style.css}" />
  <!-- Include Bootstrap JS and Popper.js (for dropdowns) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<!-- Bootstrap Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-color">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CHai Coffee</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="cart//dashboard">Home</a>
        </li>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/cart/viewcart">Cart:<span th:text="${totalQuantity}"></span></a>
          </li>
          <form action="/cart/clear" method="POST">
            <button type="submit" name="del" class="">Clear Cart</button>
          </form>
        </ul>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="hero-area">
    <div class="row">
      <div class="col-md-6 text-center hero-txt">
        <h2>Welcome <span th:text="${user.email}"></span> to Coffee Shop</h2>
      </div>
      <div class="hero-img col-md-6">
        <img th:src="@{/coffee.jpg}" class="img-fluid" alt="">
      </div>
    </div>

    <div class="product-area text-center">
      <div class="dashboard">
        <h1>Items</h1>
        <div class="row">

          <div class="item col-md-4">
            <form action ="/cart/add" method="POST">
              <img th:src="@{/americano.jpg}" class="item-img img-fluid" alt="">
              <input type="hidden" name="item" value="Americano">
              <input type="hidden" name="price" value="4.50">
              <input type="hidden" name="image" value="americano.jpg">
              <h5>Americano</h5>
              <h5> CAD 4.50</h5>
              <BUTTON TYPE="Submit" class="btn-info" name="submit">Add to Cart</button>
            </form>
          </div>

          <div class="item col-md-4">
            <form action ="/cart/add" method="POST">
              <img th:src="@{/cappuccino.jpg}" class="item-img img-fluid" alt="">
              <input type="hidden" name="item" value="Cappuccino">
              <input type="hidden" name="price" value="5.99">
              <input type="hidden" name="image" value="cappuccino.jpg">
              <h5>Cappuccino</h5>
              <h5> CAD 5.99</h5>
              <BUTTON TYPE="Submit" class="btn-info" name="submit">Add to Cart</button>
            </form>
          </div>


          <div class="item col-md-4">
            <form action ="/cart/add" method="POST">
              <img th:src="@{/espresso.jpg}" class="item-img img-fluid" alt="">
              <input type="hidden" name="item" value="Espresso">
              <input type="hidden" name="price" value="4.78">
              <input type="hidden" name="image" value="espresso.jpg">
              <h5>Espresso</h5>
              <h5> CAD 4.78</h5>
              <BUTTON TYPE="Submit" class="btn-info" name="submit">Add to Cart</button>
            </form>
          </div>


          <div class="item col-md-4">
            <form action ="/cart/add" method="POST">
              <img th:src="@{/flatwhite.jpg}" class="item-img img-fluid" alt="">
              <input type="hidden" name="item" value="Flat White">
              <input type="hidden" name="price" value="5.54">
              <input type="hidden" name="image" value="flatwhite.jpg">
              <h5>Flat White</h5>
              <h5> CAD 5.54</h5>
              <BUTTON TYPE="Submit" class="btn-info" name="submit">Add to Cart</button>
            </form>
          </div>


          <div class="item col-md-4">
            <form action ="/cart/add" method="POST">
              <img th:src="@{/hotchocolate.jpg}" class="item-img img-fluid" alt="">
              <input type="hidden" name="item" value="Hot Chocolate">
              <input type="hidden" name="price" value="4.99">
              <input type="hidden" name="image" value="hotchocolate.jpg">
              <h5>Hot Chocolate</h5>
              <h5> CAD 4.99</h5>
              <BUTTON TYPE="Submit" class="btn-info" name="submit">Add to Cart</button>
            </form>
          </div>


          <div class="item col-md-4">
            <form action ="/cart/add" method="POST">
              <img th:src="@{/mocha.jpg}" class="item-img img-fluid" alt="">
              <input type="hidden" name="item" value="Mocha">
              <input type="hidden" name="price" value="4.50">
              <input type="hidden" name="image" value="mocha.jpg">
              <h5>Mocha</h5>
              <h5> CAD 4.50</h5>
              <BUTTON TYPE="Submit" class="btn-info" name="submit">Add to Cart</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="bg-dark text-light text-center py-3 mt-4 fixed-bottom">
  <p>Developed by Hamenjeet Kaur &copy; 2024</p>
</footer>
</body>
</html>